<nav>
  <ul id="slide-out" class="side-nav fixed">
    <li class="tab">
      <div class="userView">
        <div class="background">
        </div>
        <a>
          <div class="userImg"></div>
          <span class="white-text name" style="margin-left: 10px">{{name}}</span>
        </a>
      </div>
    </li>
    <li class="tab"><a class="active" [routerLink]="['stock']" [routerLinkActive]="['active']">Продукция</a></li>
    <li class="tab pointer-center" (click)="deleteAllCookies()"><a>Выйти</a></li>
  </ul>
  <a materialize="sideNav" [materializeParams]="[{edge:'left', draggable: true, menuWidth: 300, closeOnClick: true}]"
     href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  <a class="current-route" [routerLink]="['stock']" [routerLinkActive]="['d-flex']"><h4>Продукция</h4></a>
</nav>

<div class="col s12 tabs-container">
  <ul class="tabs" materialize="tabs">
    <li class="tab col s3 pull-right pointer-center" (click)="deleteAllCookies()"><a>Выйти</a></li>
    <li class="tab col s3"><a [routerLink]="['stock']" [routerLinkActive]="['active']">Продукция</a></li>
  </ul>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
