<div class="teacher-page-container">
  <div class="student-card">
    <div class="student-small-card">
      <h4 class="h4">{{surname}} {{name}} {{fatherName}}</h4>
      <table class="big-screen">
        <tr>
          <td style="width: 60%">
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="section">
              <h6>Воинское звание:</h6>
              <p>Подполковник</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h6>Должность на кафедре:</h6>
              <p>Старший преподаватель</p>
            </div>
          </td>
          <td>
            <div class="student-img-container col s4">
              <img src="../../../../../assets/2.jpg" class="img-responsive" width="145" height="auto">
            </div>
          </td>
        </tr>
      </table>
      <!--<h4 class="big-screen">Данные преподавателя</h4>-->
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Воинское звание:</h6>
        <p>Подполковник</p>
      </div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Должность на кафедре:</h6>
        <p>Старший преподаватель</p>
      </div>
      <!--<div class="divider"></div>-->
      <h4 class="h4" style="margin-top: 30px">Персональные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Образовение:</h6>
        <p>Высшее там-то там-то</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата рождений:</h6>
        <p>16/11/1996</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Начало работы:</h6>
        <p>2015</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес проживания:</h6>
        <p>г. Иваново ул. Зеленная д. 55</p>
      </div>
    </div>
  </div>
</div>
