<div>
  <table class="table bordered highlight centred">
    <tr>
      <th>№</th>
      <th (click)="changeSort('name')" class="pointer-center">
        Название
        <i *ngIf="sort[0] === 'name' && !sort[1]" class="small material-icons pointer-center">arrow_downward</i>
        <i *ngIf="sort[0] === 'name' && sort[1]" class="small material-icons pointer-center">arrow_upward</i>
      </th>
      <th (click)="changeSort('size')" class="pointer-center">
        Размер
        <i *ngIf="sort[0] === 'size' && !sort[1]" class="small material-icons pointer-center">arrow_downward</i>
        <i *ngIf="sort[0] === 'size' && sort[1]" class="small material-icons pointer-center">arrow_upward</i>
      </th>
      <th (click)="changeSort('growth')" class="pointer-center">
        Рост
        <i *ngIf="sort[0] === 'growth' && !sort[1]" class="small material-icons pointer-center">arrow_downward</i>
        <i *ngIf="sort[0] === 'growth' && sort[1]" class="small material-icons pointer-center">arrow_upward</i>
      </th>
      <th (click)="changeSort('count')" class="pointer-center">
        Кол-во на складе, шт
        <i *ngIf="sort[0] === 'count' && !sort[1]" class="small material-icons pointer-center">arrow_downward</i>
        <i *ngIf="sort[0] === 'count' && sort[1]" class="small material-icons pointer-center">arrow_upward</i>
      </th>
      <th (click)="changeSort('reserves')" class="pointer-center">
        Резервы
        <i *ngIf="sort[0] === 'reserves' && !sort[1]" class="small material-icons pointer-center">arrow_downward</i>
        <i *ngIf="sort[0] === 'reserves' && sort[1]" class="small material-icons pointer-center">arrow_upward</i>
      </th>
    </tr>
    <tr>
      <td>-</td>
      <td class="search"><input class="form-control" placeholder="Поиск по названию" [(ngModel)]="search.name" [ngModelOptions]="{standalone: true}"></td>
      <td class="search"><input class="form-control" placeholder="Поиск по размеру" [(ngModel)]="search.size" [ngModelOptions]="{standalone: true}"></td>
      <td class="search"><input class="form-control" placeholder="Поиск по росту" [(ngModel)]="search.growth" [ngModelOptions]="{standalone: true}"></td>
      <td class="search"><input class="form-control" placeholder="Поиск по количеству" [(ngModel)]="search.count" [ngModelOptions]="{standalone: true}"></td>
      <td class="search"><input class="form-control" placeholder="Поиск по резервам" [(ngModel)]="search.reserves" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <tr *ngFor="let stock of stockByFilters(); let i = index">
      <td>{{i + 1}}</td>
      <td>{{stock.name}}</td>
      <td>{{stock.size}}</td>
      <td>{{stock.growth}}</td>
      <td>{{stock.count}}</td>
      <td class="pointer-center" (click)="currentStock = stock; openReservesModal()">{{stock.reserves_count}}</td>
    </tr>
  </table>
</div>

<div id="reservesModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="reservesModal">
  <div class="modal-content">
    <div class="right-align">
      <a class="btn-floating btn-medium waves-effect waves-light grey" style="margin-bottom: 10px" (click)="addReserve()"><i class="material-icons">add</i></a>
    </div>
    <div class="teachers-list">
      <table class="table bordered highlight centred">
        <tr>
          <th>Дата создания</th>
          <th>Менеджер</th>
          <th>Кол-во*</th>
          <th>Оплата</th>
          <th>Дата выгрузки</th>
          <th>Клиент*</th>
          <th>Номер счёта</th>
          <th>Кто шьёт</th>
          <th>Дата пошива</th>
          <th></th>
        </tr>
        <tr *ngFor="let reserve of reservesByFilter()" class="reserves">
          <td>
            {{reserve.date.toLocaleDateString()}}
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.author_name" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.count" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.payment" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.unloading_date" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.client" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.payment_id" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.maker" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="reserve.make_date" [disabled]="reserve.author_login !== userService.user.login">
          </td>
          <td>
            <a class="btn-floating btn-tiny waves-effect waves-light red" materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Заполенены не все поля с *!">
              <i class="material-icons">priority_high</i>
            </a>
          </td>
          <!--<td (click)="teacherSearch = teacher.name" class="pointer-center">{{teacher.name}}</td>-->
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat" (click)="closeReservesModal()">Сохранить</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" style="margin-right: 10px" (click)="closeReservesModal()">Отмена</button>
  </div>
</div>
