<div class="student-page-container">
  <div class="student-card">
    <div class="student-small-card">
      <h4 class="h4">{{surname}} {{name}} {{fatherName}}</h4>
      <table class="big-screen">
        <tr>
          <td style="width: 60%">
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="section">
              <h6>Взвод:</h6>
              <p>7</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h6>Курс:</h6>
              <p>3</p>
            </div>
          </td>
          <td>
            <div class="student-img-container col s4">
              <img src="../../../../../assets/2.jpg" class="img-responsive" width="145" height="auto">
            </div>
          </td>
        </tr>
      </table>
      <!--<h4 class="big-screen">Данные преподавателя</h4>-->
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Взвод:</h6>
        <p>7</p>
      </div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Курс:</h6>
        <p>3</p>
      </div>
      <!--<div class="divider"></div>-->
      <h4 class="h4" style="margin-top: 30px">Персональные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата рождений:</h6>
        <p>16/11/1996</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Место рождения:</h6>
        <p>г. Иваново улица Шубиных, дом 5</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Семейное положение:</h6>
        <p>Холост</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Общественная работа:</h6>
        <p>Отсутствует</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Образовение:</h6>
        <p>Высшее там-то там-то</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Год приёма:</h6>
        <p>2015</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Факультет:</h6>
        <p>ИВТФ</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Заключение ВВК:</h6>
        <p>Б - годен с ограничением</p>
      </div>

      <h4 class="h4" style="margin-top: 30px">Контактные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес, номер телефона:</h6>
        <p>г. Иваново улица Свободы дом 55, 89125875256</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>ФИО матери, место работы:</h6>
        <p>Марьина Александра Сергеевна, ООО "Черепашьи радости"</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес матери, номер телефона:</h6>
        <p>г. Иваново улица Свободы дом 55, 89125875256</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>ФИО отца, место работы:</h6>
        <p>Грустин Алексей Максимович, ООО "Мамькины дети"</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес отца, номер телефона:</h6>
        <p>г. Иваново улица Свободы дом 55, 89125875256</p>
      </div>

      <h4 class="h4" style="margin-top: 30px">Документы</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер прописного свидетельства:</h6>
        <p>25875256</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер студенческого билета:</h6>
        <p>563284325432</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер военного билета:</h6>
        <p>752312556</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата, номер приказа ректора о заключении контракта:</h6>
        <p>11.11.2014, 73286329</p>
      </div>
    </div>
  </div>
</div>
