<div class="journal-page-container">
  <div class="row s12 m0" style="padding-left: 7px;">
    <div class="input-field col s3">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите курс</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <label>Курс</label>
    </div>
    <div class="input-field col s3">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите взвод</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <label>Взвод</label>
    </div>
    <div class="input-field col s3">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите дисциплину</option>
        <option value="1">ВТП</option>
        <option value="2">ТТП</option>
        <option value="3">Секретные данные</option>
      </select>
      <label>Дисциплина</label>
    </div>
  </div>
  <div class="journal-data">
    <table class="table bordered highlight">
      <tr>
        <th>Cтудент</th>
        <th>1 семестр</th>
        <th>2 семестр</th>
        <th>3 семестр</th>
        <th>4 семестр</th>
        <th>5 семестр</th>
        <th>6 семестр</th>
        <th>7 семестр</th>
        <th>8 семестр</th>
      </tr>
      <tr>
        <td style="width: 15%; padding-top: 10px">Иванов А. А.</td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
      </tr>
      <tr>
        <td style="width: 15%; padding-top: 10px">Иванов А. А.</td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
      </tr>
      <tr>
        <td style="width: 15%; padding-top: 10px">Иванов А. А.</td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
      </tr>
      <tr>
        <td style="width: 15%; padding-top: 10px">Иванов А. А.</td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="5">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
        <td>
          <input type="number" placeholder="-" value="-">
        </td>
      </tr>
    </table>
  </div>
  <!--<div class="row" style="padding-top: 15px">-->
    <div class="row" style="padding-top: 5px; text-align: right; padding-right: 15px; margin-bottom: 0">
      <button type="button" class="waves-effect waves-light btn" style="margin-right: 10px">Отмена</button>
      <button type="button" class="waves-effect waves-light btn">Сохранить</button>
    </div>
  <!--</div>-->
</div>
